<% include ./partials/header %>
<%include ./partials/navbarLight%>
<div class="container">
    <div class="row">
        <% restaurents.forEach(function (restro) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch mt-4">
                <div class="card cardHover" style="display: flex;flex-wrap: wrap;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div style="height: 200px;width: 100%;overflow: hidden">
                        <a href="/view/<%=restro.id%>">
                            <img class="card-img-top"
                            <% if(!restro.image_url || restro.image_url == ""){ %>
                                 src="https://media-cdn.tripadvisor.com/media/photo-s/0e/cc/0a/dc/restaurant-chocolat.jpg"
                            <% }else{ %>
                                 src="<%= restro.image_url %>"
                                    <% } %>
                            >
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="/view/<%=restro.id%>" class="text-decoration-none"><h5 class="text-dark"><%= restro.name %></h5></a>
                        <p><i class="fas fa-map-marker-alt text-danger"></i>&nbsp;&nbsp;<%= restro.location.display_address %><br>
                            <i class="fas fa-money-bill-wave text-success"></i>&nbsp;&nbsp;
                            <% if(!restro.price){ %>
                                $
                            <% }else{ %>
                                <%= restro.price %>
                            <% } %>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-star text-warning"></i>
                            &nbsp;&nbsp;<%= restro.rating %>/5
                        </p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<% include ./partials/footer %>